# MySQL
MYSQL_ROOT_PASSWORD=CordysCRM@mysql

# Redis
REDIS_PASSWORD=CordysCRM@redis

# Tencent Cloud SMS
TENCENT_SMS_ENABLED=false
TENCENT_SMS_SECRET_ID=
TENCENT_SMS_SECRET_KEY=
TENCENT_SMS_APP_ID=
TENCENT_SMS_SIGN_NAME=
TENCENT_SMS_INVITE_TEMPLATE_ID=

# Dify AI
DIFY_API_URL=
DIFY_API_KEY=
DIFY_RISK_API_KEY=
DIFY_SMS_API_KEY=

# Health Check API
HEALTH_API_BASE_URL=
HEALTH_API_APP_ID=
HEALTH_API_SECRET=
